<div id="<%= dom_id membership %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= membership.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type membership:</strong>
    <%= membership.type_membership_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Point:</strong>
    <%= membership.point %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this membership", membership, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this membership", edit_membership_path(membership), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
