<%= form_with(model: rent, class: "contents") do |form| %>
  <% if rent.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(rent.errors.count, "error") %> prohibited this rent from being saved:</h2>
      <ul>
        <% rent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="w-full">
    <div class="w-1/2">
      <div class="my-5">
        <%= form.label :field_id %>
        <%= form.collection_select :field_id, Field.all, :id, :name, {prompt: "Pilih Lapang"}, class:'dark:bg-gray-800 dark:text-gray-500 dark:border-gray-700 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
      </div>
      <div class="my-5">
        <%= form.label :behalf %>
        <%= form.text_field :behalf, placeholder:'Atas Nama', class:'dark:bg-gray-800 dark:text-gray-500 dark:border-gray-700 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
      </div>
      <div class="flex w-full gap-3 mb-5">
        <%= form.time_field :start, class:'w-1/2 dark:bg-gray-800 dark:border-gray-700 rounded' %>
        <%= form.time_field :start, class:'w-1/2 dark:bg-gray-800 dark:border-gray-700 rounded' %>
      </div>
    </div>
    <div class="w-1/2">
    </div>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
