<div id="<%= dom_id rent %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Field:</strong>
    <%= rent.field_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rent detail:</strong>
    <%= rent.rent_detail_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this rent", rent, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this rent", edit_rent_path(rent), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
